 .size-input {
   width: 100%;
   margin-bottom: 0.5em;
 }

 .size-textarea {
   width: 100%;
   margin-bottom: 1em;
   height: 25em;
 }

 .size-contact {
   padding: 1em;
   text-align: left;
 }
  .bouton-fieldset {
    background-color: #0d6efd;
    color: white;

  }
  .textaligncenter {
    text-align: center;
  }
  .deco-none {
    text-decoration: none;
    color: black;
  }