
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');



body {
  margin: 0;
 font-family: "Nunito Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.BackGround2 {
  background-image: url(/images/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 21em;
}
@media (max-width: 1024px) {

  .BackGround2 {
    height : 10em;
    width: 100%;
  }
  
}
@media (max-width: 768px) {

  .BackGround2 {
    height : 4em;
    width: 100%;
  }
  
}
iframe {
width : 100%;
height: 30em;
}
/*cards services et portfolio*/
.center {
  display: flex;
  justify-content: center;
}

.CardText {
  background-color: lightgray;
}

.card {
  padding: 0;
  margin: 1em;
}
.card-Shadow:hover {
  box-shadow: 0px 9px 20px grey;
  background-color: lightgray;
}
.card-Shadow-initial {
  box-shadow: initial !important;
}
.maj{
  text-transform: uppercase;
}
/*fin cards services et portfolio*/


/*header*/
.collapse {
  justify-content: flex-end;
}

.navbar>.container {
  margin: 0;
  max-width: 2000px;
}

.navbar-nav {
  justify-items: center;
}

.hover:hover{
 text-decoration: underline;
}
/*fin header*/

.body-div {
  color: white;
  padding-top: 2em;

}

.accueil {
  display: flex;
  justify-content: center;
  margin: 2em;
}

.accueil1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: 0px 9px 20px grey;
  border-radius: 0.5em;
  padding: 2em;
}

/*footer*/
.footerNav {
  display: flex;
  flex-direction: column;
}

.footerNavlink {
  padding: 0;
}

.footerParagraphcolor {
  color: white;
  text-decoration: none;
}

.footer {
  display: flex;
  flex-wrap: wrap;
}

.paddingfooter {
  padding: 3em;
}
.footerparagraph {
  margin: 0;
}

.hoverlogo :hover {
color: white;

}
.hoverlogo {
      font-size: 1.5em;
      color: #545454;
      margin-right: 0.5em;
}
/*fin footer*/

.surlign {
  border-bottom: 2px solid blue;
  margin-bottom: 1em;
  text-align: left;
}

.surlign2 {
  border-bottom: 4px solid blue;
  margin-top: 1em;
  margin-bottom: 3em;
  margin-left: 40%;
  margin-right: 40%;
}

.size-adress {
  margin: 0;
}

.textalign {
  text-align: left;
}

.surlign3 {
  border-bottom: var(--bs-modal-header-border-width) solid var(--bs-modal-header-border-color);
}

h1 {
  margin-top: 1em;
}
.cover {
  width: 100%;
}
